@model List<OnlineExamManagementWebApp.Models.Trainer>

<table class="table table-striped table-bordered nowrap" id="tbl-listOfTrainers">
    <thead>
        <tr>
            <th>Serial No.</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Email</th>
            <th>Address</th>
            <th>Alternate Address</th>
            <th>City</th>
            <th>Post. Code</th>
            <th>Country</th>
            <th>Organization</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @{
            if (Model != null) {
                int counter = 1;
                foreach (var trainer in Model) {
                    <tr>
                        <td>
                            <input type="hidden" value="@trainer.Id" />
                            @counter
                        </td>
                        <td>@trainer.Name</td>
                        <td>@trainer.Contact</td>
                        <td>@trainer.Email</td>
                        <td>@trainer.Address</td>
                        <td>@trainer.AlternateAddress</td>
                        <td>@trainer.City</td>
                        <td>@trainer.PostalCode</td>
                        <td>@trainer.Country</td>
                        <td>@trainer.OrganizationId</td>
                        <td>
                            <input type="button" class="btn btn-warning js-editTrainerModalPopup" value="Edit" />
                            <input type="button" class="btn btn-danger js-deleteTrainerPopup" value="Delete" />
                        </td>
                    </tr>
                    counter++;
                }
            }
        }
    </tbody>
</table>

<div id="js-deleteTrainer-dialog" title="Delete Trainer?">
    <p>
        <span class="ui-icon ui-icon-alert"></span>
        This Trainer will be permanently deleted and cannot be recovered. Are you sure?
    </p>
</div>

<div class="clearfix"></div>