@using OnlineExamManagementWebApp.Models

<table class="table table-striped table-bordered nowrap" id="tbl-orgSearchResult" style="width: 100%">
    <thead>
        <tr>
            <th>Serial</th>
            <th>Name</th>
            <th>Code</th>
            <th>Address</th>
            <th>Contact No.</th>
            <th>Courses</th>
            <th>Logo</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @{ var counter = 1;
            foreach (var organization in (IList<Organization>)ViewData["Orgs"]) {
                <tr>
                    <td>@counter</td>
                    <td>@organization.Name</td>
                    <td>@organization.Code</td>
                    <td>@organization.Address</td>
                    <td>@organization.Contact</td>
                    <td>
                        @{
                            if (organization.Courses != null) {
                                @organization.Courses.Count
                            }
                        }
                    </td>
                    <td>
                        <img src="@Url.Action("GetOrgLogo","Organization", new {orgId = organization.Id})" class="orgLogo" />
                    </td>
                    <td>
                        <a href="#" class="btn btn-primary js-viewOrgModalPopup" data-org-id="@organization.Id">
                            <i class="fa fa-folder"> View</i>
                        </a>
                        <a href="#" class="btn btn-info js-editOrgModalPopup" data-org-id="@organization.Id">
                            <i class="fa fa-pencil"> Edit</i>
                        </a>
                        <a href="#" class="btn btn-danger js-deleteOrgPopup" data-org-id="@organization.Id">
                            <i class="fa fa-trash-o"> Delete</i>
                        </a>
                    </td>
                </tr>
                counter++;
            }
        }
    </tbody>
</table>

<div class="clearfix"></div>