@model List<OnlineExamManagementWebApp.Models.Organization>

<table class="table table-striped table-bordered nowrap" id="tbl-orgSearchResult" style="width: 100%">
    <thead>
        <tr>
            <th>Serial</th>
            <th>Name</th>
            <th>Code</th>
            <th>Address</th>
            <th>Contact No.</th>
            <th>Courses</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @if (Model != null) {
            int counter = 1;
            foreach (var organization in Model) {
                <tr>
                    <td>@counter</td>
                    <td>@organization.Name</td>
                    <td>@organization.Code</td>
                    <td>@organization.Address</td>
                    <td>@organization.Contact</td>
                    <td>
                        @{
                            if (organization.Courses != null) {
                                @organization.Courses.Count
                            }
                        }
                    </td>
                    <td>
                        <input type="button" class="btn btn-primary js-viewOrgModalPopup" value="View" data-org-id="@organization.Id" />|
                        <input type="button" class="btn btn-warning js-editOrgModalPopup" value="Edit" data-org-id="@organization.Id" />|
                        <input type="button" class="btn btn-danger js-deleteOrgPopup" value="Delete" data-org-id="@organization.Id" />
                    </td>
                </tr>
                counter++;
            }
        }

    </tbody>
</table>

<div class="clearfix"></div>
