@model List<OnlineExamManagementWebApp.Models.Course>

<table class="table table-striped table-bordered nowrap" id="tbl-courseSearchResult" style="width: 100%">
    <thead>
    <tr>
        <th>Serial</th>
        <th>Name</th>
        <th>Code</th>
        <th>Duration</th>
        <th>Fees</th>
        <th>Credit</th>
        <th>Outline</th>
        <th>Trainers</th>
        <th>Lead Trainer</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    @if (Model != null) {
        int counter = 1;
        foreach (var course in Model) {
            <tr>
                <td>
                    <input type="hidden" name="CourseId" value="@course.Id" />
                    @counter
                </td>
                <td>@course.Name</td>
                <td>@course.Code</td>
                <td>@course.Duration</td>
                <td>Fees</td>
                <td>@course.Credit</td>
                <td>@course.Outline</td>
                <td>
                    @{
                        int index = course.CourseTrainers.Count;
                        int loopCounter = 1;
                    }

                    @foreach (var item in course.CourseTrainers) {
                        if (loopCounter < index) {
                            @item.Trainer.Name<span>&#44;&nbsp;</span>
                        }
                        else {
                            @item.Trainer.Name
                        }
                        loopCounter++;
                    }
                </td>
                <td>
                    @foreach (var item in course.CourseTrainers) {
                        if (item.IsLead) {
                            @item.Trainer.Name
                        }
                    }
                </td>
                <td>
                    <input type="button" class="btn btn-warning js-editCourseModalPopup" value="Edit" />
                    <input type="button" class="btn btn-danger js-deleteCoursePopup" value="Delete" />
                </td>
            </tr>
            counter++;
        }
    }

    </tbody>
</table>

<div id="js-deleteCourse-dialog" title="Delete Course?">
    <p>
        <span class="ui-icon ui-icon-alert"></span>
        This Course will be permanently deleted and cannot be recovered. Are you sure?
    </p>
</div>

<div class="clearfix"></div>