@model OnlineExamManagementWebApp.Models.Organization

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

<!--DataTable Styles-->
<link href="~/Theme/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="~/Theme/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="~/Theme/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="~/Theme/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="~/Theme/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
<!--DataTable END-->

<div class="x_panel">
    <div class="x_title">
        <h2>Organization Details<small>Basic Info</small></h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="#">Settings 1</a>
                    </li>
                    <li>
                        <a href="#">Settings 2</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <div class="x_content">
        <input type="hidden" value="@Model.Id" id="js-org-id" />
        <!--TOP SECTION-->
        <div class="orgLogoDetails">
            <img src="@Url.Action("GetOrgLogo", new {orgId = Model.Id})" />
        </div>

        <div class="orgTopSection">
            <div class="orgName">
                @Html.DisplayFor(model => model.Name)
            </div>
            <div class="orgAbout">
                @Html.DisplayNameFor(model => model.About)
            </div>
        </div>
        <!--TOP SECTION END-->
        <div class="clearfix"></div>

        <!--tab panel starts-->
        <div class="" role="tabpanel" data-example-id="toggle-tabs">
            <ul class="nav nav-tabs bar_tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#course-tab" role="tab" data-toggle="tab" aria-expanded="True">Courses</a>
                </li>
                <li>
                    <a href="#trainer-tab" role="tab" data-toggle="tab" aria-expanded="False">Trainers</a>
                </li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="course-tab">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2><small>Course Info.</small></h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li>
                                        <a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">
                                @{
                                    if (Model.Courses != null) {
                                        Html.RenderPartial("_ListOfCourse", Model.Courses);
                                        Html.RenderPartial("_ModalEditCourse");
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="trainer-tab">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2><small>Trainer Info.</small></h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li>
                                        <a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">
                                @{
                                    Html.RenderPartial("_ListOfTrainers");
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--tab panel ends-->

        <div class="clearfix"></div>

        <!--BOTTOM SECTION-->
        @Html.DisplayFor(model => model.Address)
        @Html.DisplayFor(model => model.Contact)
        <!--BOTTOM SECTION ENDS-->

        <div class="clearfix"></div>

        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery-ui")

    <!-- Datatables -->
    <script src="~/Theme/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Theme/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <!--Datatables ends-->
    <!--bootbox-->
    <script src="~/Scripts/bootbox.min.js"></script>
    <!--bootbox End-->

    <!-- Theme Specific Scripts -->
    <script src="~/Theme/js/custom.js" defer></script>

    <script type="text/javascript" src="~/Scripts/CustomScripts/search-course.js"></script>
    <script type="text/javascript" src="~/Scripts/CustomScripts/listOfTrainers.js"></script>
}