@model OnlineExamManagementWebApp.ViewModels.SearchOrgViewModel
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--DataTable Styles-->
<link href="~/Theme/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="~/Theme/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="~/Theme/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="~/Theme/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="~/Theme/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
<!--DataTable END-->

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Search <small>Search for Organization</small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">Settings 1</a>
                        </li>
                        <li>
                            <a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="x_content">
            @using (Html.BeginForm("SearchResult", "Organization", FormMethod.Get, new { @class = "form-horizontal", id = "form-searchOrg" })) {
                <div class="form-horizontal">
                    <div class="item form-group">
                        @Html.LabelFor(m => m.Name, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control col-md-7 col-xs-12" })
                        </div>
                    </div>

                    <div class="item form-group">
                        @Html.LabelFor(m => m.Address, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control col-md-7 col-xs-12" })
                        </div>
                    </div>
                    <div class="item form-group">
                        @Html.LabelFor(m => m.Code, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.Code, new { @class = "form-control col-md-7 col-xs-12" })
                        </div>
                    </div>
                    <div class="item form-group">
                        @Html.LabelFor(m => m.Contact, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(m => m.Contact, new { @class = "form-control col-md-7 col-xs-12" })
                        </div>
                    </div>
                </div>

                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                        <input type="submit" value="Search" class="btn btn-success" id="btn-searchOrg" />
                    </div>
                </div>

            }
        </div>

        <div class="clearfix"></div>
        <br />

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><small>Search Result</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    @{
                        if (Model.Organizations != null) {
                            Html.RenderPartial("_ListOfOrgs");
                            Html.RenderPartial("_ModalViewOrg");
                            Html.RenderPartial("_ModalEditOrg");
                        }
                    }
                </div>
            </div>
        </div>

        <!--x-panel End-->
    </div>
</div>



@section scripts{
    <!-- DataTable Scripts -->
    <script src="~/Theme/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Theme/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <!--DataTable end-->

    <script src="~/Scripts/bootbox.min.js"></script>
    <script src="~/Scripts/CustomScripts/organization/search-org.js"></script>
    <script src="~/Scripts/CustomScripts/organization/viewOrgModal.js"></script>
    <script src="~/Scripts/CustomScripts/organization/editOrgModal.js"></script>
}