@model OnlineExamManagementWebApp.ViewModels.CreateExamViewModel

<br />
<link href="~/Content/css/select2.css" rel="stylesheet" />

@{
    List<SelectListItem> examTypes = new List<SelectListItem> {
new SelectListItem {
    Value = "0",
    Text = @"--Select Exam Type--"
},
new SelectListItem {
    Value = "1",
    Text = @"Class Test"
},
new SelectListItem {
    Value = "1",
    Text = @"Lab Test"
}
};
}


<div class="panel-group">
    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="panel-title">Exam Entry</div>
        </div>

        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.Label("Organization", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.OrganizationName, new { @class = "form-control", id = "js-organization", @readonly = "true" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Course", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.Course.Code, new { @class = "form-control", id = "js-course-code", @readonly = "true" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Exam Types", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.DropDownList("js-examTypes", examTypes, new { @class = "form-control", style = "width: 280px" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Code", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.Code, "", new { @class = "form-control", placeholder = "Exam Code", id = "js-exam-code" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Topic", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.Topic, new { @class = "form-control", placeholder = "Exam Topic", id = "js-exam-topic" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Full Marks", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.FullMarks, new { @class = "form-control", placeholder = "Full Marks", id = "js-exam-full-marks" })
                    </div>
                </div>

                <div class="form-inline">
                    @Html.Label("Duration", new { @class = "col-sm-2 control-label" })
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.DurationHour, null, new { @class = "form-control", placeholder = "hh", id = "js-exam-duration-hour" })
                        <span class="input-group-addon">:</span>
                        @Html.TextBoxFor(m => m.DurationMin, new { @class = "form-control", placeholder = "mm", id = "js-exam-duration-min" })
                    </div>
                </div>

                <br />
                <div class="form-group">
                    @Html.Label("Serial", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.SerialNo, new { @class = "form-control", id = "js-exam-serial" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-sm-10">
                        <input type="button" class="btn btn-success" id="js-btn-addExam" value="Add">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="panel-group">
    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="panel-title">Exam Table</div>
        </div>

        <div class="panel-body">
            <table class="table table-bordered table-hover table-responsive">
                <tr>
                    <th>SL No.</th>
                    <th>Type</th>
                    <th>Topic</th>
                    <th>Code</th>
                    <th>Duration</th>
                    <th>Full Marks</th>
                    <th>Action</th>
                </tr>
                <tbody id="create-exam-tableBody">
                    @if (Model.Course.Exams != null) {
                        foreach (var exam in Model.Course.Exams) {
                            <tr>
                                <td>
                                    <input type="hidden" name="CourseId" value="@exam.CourseId" />
                                    @exam.SerialNo
                                </td>
                                <td>@exam.Type</td>
                                <td>@exam.Topic</td>
                                <td>@exam.Code</td>
                                <td>
                                    <input type="hidden" name="Duration" value="@exam.Duration" />
                                    @(exam.Duration / 60) hh : @(exam.Duration % 60) mm
                                </td>
                                <td>@exam.FullMarks</td>
                                <td>
                                    <a href='#' class='js-createExam-ViewExam'>View | </a>
                                    <a href='#' class='js-createExam-EditExam'>Edit | </a>
                                    <a href='#' class='js-createExam-RemoveExam'>Remove</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

            <div class="form-group">
                <div class="col-sm-10">
                    <input type="button" class="btn btn-primary" id="js-btn-SaveAllExam" value="Save">
                </div>
            </div>
        </div>
    </div>
</div>