@{
    List<SelectListItem> examTypes = new List<SelectListItem> {
new SelectListItem {
Value = "0",
Text = @"--SELECT EXAM TYPE--"
},
new SelectListItem {
Value = "1",
Text = @"Class Test"
},
new SelectListItem {
Value = "2",
Text = @"Lab Test"
}
};
}


<div id="js-modal-editExam" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Update Exam</h3>
            </div>

            <div class="modal-body">
                <form id="_form-modal-editExam">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.Hidden("js-modal-editExam-Index")
                            @Html.Label("Organization", new {@class = "col-sm-2 control-label"})
                            <div class="col-sm-8 ">
                                @Html.TextBox("js-modal-editExam-OrgName", null, new {@class = "form-control", @readonly = "true"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Course", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBox("js-modal-editExam-CourseName", null, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Type", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.DropDownList("js-modal-editExam-Type", examTypes, new { @class = "form-control", style = "width: 280px" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Code", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBox("js-modal-editExam-Code", null, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Topic", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBox("js-modal-editExam-Topic", null, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Full Marks", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBox("js-modal-editExam-FullMarks", null, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Duration", new { @class = "col-sm-2 control-label" })
                            @Html.Hidden("js-modal-editExam-Duration")
                            <div class="col-xs-2">
                                @Html.TextBox("js-modal-editExam-DurationHour", null, new { @class = "form-control" })
                            </div>

                            <div class="col-xs-2">
                                @Html.TextBox("js-modal-editExam-DurationMin", null, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Serial", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-2">
                                @Html.TextBox("js-modal-editExam-Serial", null, new { @class = "form-control",@readonly="true" })
                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <div class="col-md-offset-2">
                    <button type="button" class="btn btn-danger" id="js-modal-btn-updateExam">Update</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>