@Html.AntiForgeryToken()

@{
    List<SelectListItem> trainers = new List<SelectListItem> {
new SelectListItem {
    Value = "",
    Text = @"-SELECT TRAINER--"
}
};
}

<div id="js-modal-editCourse" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edit Course</h3>
            </div>

            <div class="modal-body">
                <form id="_form-modal-editCourse">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.Hidden("modal-editCourse-Id")
                            @Html.Label("Name", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10 ">
                                @Html.TextBox("modal-editCourse-Name", null, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Code", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBox("modal-editCourse-Code", null, new { @class = "form-control" })
                            </div>
                        </div> 

                        <div class="form-group">
                            @Html.Label("Duration", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBox("modal-editCourse-Duration", null, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Credit", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBox("modal-editCourse-Credit", null, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Outline", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBox("modal-editCourse-Outline", null, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Lead Trainer", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.DropDownList("modal-editCourse-LeadTrainer", trainers, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <div class="col-md-offset-2">
                    <button type="button" class="btn btn-danger" id="js-modal-btn-updateCourse">Update</button>
                    <button type="button" class="btn btn-primary" id="js-modal-btn-close" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>