@model OnlineExamManagementWebApp.ViewModels.CourseEditViewModel


<br />
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#basic-tab" data-toggle="tab">Basic Info</a></li>
    <li role="presentation"><a href="#assign-trainer" data-toggle="tab">Assign Trainer</a></li>
    <li role="presentation"><a href="#create-exams" data-toggle="tab">Create Exams</a></li>
</ul>

<div class="tab-content">
    <div id="basic-tab" class="tab-pane active">
        <br />
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.OrganizationId)
        <div class="form-group">
            @Html.LabelFor(m => m.OrganizationCode)
            @Html.TextBoxFor(m => m.OrganizationCode, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Code)
            @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Duration)
            @Html.TextBoxFor(m => m.Duration, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Credit)
            @Html.TextBoxFor(m => m.Credit, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Outline)
            @Html.TextBoxFor(m => m.Outline, new { @class = "form-control" })
        </div>
    </div>

    <div id="assign-trainer" class="tab-pane">
        @{
            Html.RenderPartial("_AssignTrainer");
        }
    </div>
    <div id="create-exams" class="tab-pane"></div>
</div>

@section scripts {
    <script src="~/Scripts/select2.js"></script>

    <script type="text/javascript">
        function deleteAlert(trainerName) {
            var ans = confirm("Are you sure you want to delete " + trainerName + " Record?");
            alert(ans);
        }

        $(function () {
            var organizationId = $('#OrganizationId').val();

            $('#js-ddl-trainers').select2({
                placeholder: "--Select Trainer--",
                ajax: {
                    url: "/Course/GetTrainers",
                    dataType: "json",
                    data: function (params) {
                        var query = {
                            searchTerm: params.term,
                            orgId: organizationId
                        }
                        return query;
                    },
                    processResults: function (data, params) {
                        return {
                            results: data
                        };
                    }
                }
            });

            // Load assigned trainer from database in assigned trainer tab
            var courseId = $('#Id').val();
            loadTrainersById(courseId);

            function loadTrainersById(courseId) {
                $.ajax({
                    url: "/Course/GetTrainersByCourse/" + courseId,
                    type: "GET",
                    contentType: 'application/json',
                    success: function (result) {
                        var html = '';

                        $.each(result, function (key, item) {
                            var rbValue = '<td><input type="radio" name="IsLead" disabled="disabled"/> </td>';
                            if (item.IsLead) {
                                rbValue = '<td><input type="radio" name="IsLead" disabled="disabled" checked/> </td>';
                            }

                            html += '<tr>';
                            html += "<td><input type=hidden value='" + item.TrainerId + "'/>";
                            html += item.TrainerName + '</td>';
                            html += rbValue;
                            html += "<td> <a href='#'> Edit |</a>";
                            html += "<a href='#' onclick='deleteAlert(\"" + item.TrainerName + "\")'> Remove </a></td>";
                            html += '</tr>';
                        });

                        $('#table-body').html(html);
                    },

                    error: function (message) {
                        alert('Something is wrong!');
                    }
                });
            }


            function clearCheckBox() {
                $('#is-lead').prop('checked', false);
            }

            // add to table with with add button click
            var index = 0;
            var trainers = new Array();

            function isTrainerAlreadyExists(selectedTrainerId) {
                var isDuplicatedTrainer = false;
                $("#table-body").find('tr').each(function () {
                    var td = $(this).find('input[type="hidden"]').val();

                    if (td === selectedTrainerId) {
                        alert("already exists");
                        isDuplicatedTrainer = true;
                        return false;
                    }

                });
                return isDuplicatedTrainer;
            }

            function isLeadTrainerExists(isLeadCheckBoxChecked) {
                if (($("input[name='IsLead']:checked").val()) && isLeadCheckBoxChecked) {
                    alert('Lead already defined');
                    clearCheckBox();
                    return true;
                }

                return false;
            }

            $('#js-insert-table').click(function () {
                var selectedTrainerId = $('#js-ddl-trainers').val();
                var selectedTrainerName = $('#js-ddl-trainers').children("option").filter(":selected").text();


                if (isTrainerAlreadyExists(selectedTrainerId)) {
                    return false;
                }

                var isLeadCheckBoxChecked = $('#is-lead').prop('checked');
                if (isLeadTrainerExists(isLeadCheckBoxChecked)) {
                    return false;
                }

                // Building htmlTable;
                var tr = "<tr>";
                var tdTrainerName = "<td><input type='hidden' value='" + selectedTrainerId + "'/>";
                tdTrainerName += selectedTrainerName;
                tdTrainerName += "</td>";

                var rbValue = '<td><input type="radio" name="IsLead" disabled="disabled"/> </td>';
                if (isLeadCheckBoxChecked) {
                    rbValue = '<td><input type="radio" name="IsLead" disabled="disabled" checked/> </td>';
                }

                var tdAction = "<td> <a href='#'> Edit |</a>";
                tdAction += "<a href='#' onclick='deleteAlert(\"" + selectedTrainerName + "\")'> Remove </a>";
                tdAction += "</td>";

                tr += tdTrainerName + rbValue + tdAction + "</tr>";

                $('#table-body').append(tr);


                var assignVm = {
                    CourseId: courseId,
                    TrainerName: selectedTrainerName,
                    TrainerId: selectedTrainerId,
                    IsLead: isLeadCheckBoxChecked
                }
                trainers.push(assignVm);

                clearCheckBox();
                index++;
            });


            // Save to database functionality
            $('#js-save-trainers').click(function () {
                //var leadTrainerId = $('input[name="IsLead"]:checked').closest('tr').find('input[type=hidden]').val();

                if (!trainers || trainers.length === 0) {
                    alert('alredy exists');
                    return;
                }

                if (!confirm('Are you sure you want to add?')) {
                    return;
                }

                $.ajax({
                    url: "/Course/AssignTrainer",
                    data: JSON.stringify(trainers),
                    type: "POST",
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (result) {
                        alert("Assigned Trainer Successfully");
                        trainers.length = 0;
                        loadTrainersById(courseId);
                    },
                    error: function (message) {
                        alert(message.responseText);
                    }
                });
            });

        });
    </script>
}
