@model OnlineExamManagementWebApp.ViewModels.CourseBasicInfoViewModel

@{
    ViewBag.Title = "title";
}

<br />
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#basic-tab" data-toggle="tab">Basic Info</a></li>
    <li role="presentation"><a href="#assign-trainer" data-toggle="tab">Assign Trainer</a></li>
    <li role="presentation"><a href="#create-exams" data-toggle="tab">Create Exams</a></li>
</ul>

<div class="tab-content">
    <div id="basic-tab" class="tab-pane active">
        <br />
        <div class="form-group">
            @Html.LabelFor(m => m.OrganizationCode)
            @Html.TextBoxFor(m => m.OrganizationCode, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Code)
            @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Duration)
            @Html.TextBoxFor(m => m.Duration, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Credit)
            @Html.TextBoxFor(m => m.Credit, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Outline)
            @Html.TextBoxFor(m => m.Outline, new { @class = "form-control" })
        </div>
    </div>

    <div id="assign-trainer" class="tab-pane">
        @{
            Html.RenderPartial("_AssignTrainer");
        }
    </div>
    <div id="create-exams" class="tab-pane"></div>
</div>

@section scripts {
    <script src="~/Scripts/select2.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#ddl-trainers').select2({
                placeholder: "--Select Trainer--",
                ajax: {
                    url: "/Course/GetTrainers",
                    dataType: "json",
                    data: function (params) {
                        return {
                            searchTerm: params.term
                        };
                    },
                    processResults: function (data, params) {
                        return {
                            results: data
                        };
                    }
                }
            });
            var index = 0;
            // add to table with with add button click
            $('#add-to-table').click(function () {
                var selectedTrainerId = $('#ddl-trainers').val();
                var selectedTrainerName = $('#ddl-trainers').text();

                var tr = "<tr>";
                var td = "<td><input type='hidden' name='Trainers[" + index + "].Id' value='" + selectedTrainerId + "'/>" + selectedTrainerName + "</td>";
                tr += td + "</tr>";

                $('#table-body').append(tr);
                index++;
            });
        });
    </script>
}
