@model OnlineExamManagementWebApp.ViewModels.SearchCourseViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jq-3.3.1/dt-1.10.18/r-2.2.2/datatables.min.css" />

<div class="x_panel">
    <div class="x_title">
        <h2>Search Course</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="#">Settings 1</a>
                    </li>
                    <li>
                        <a href="#">Settings 2</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <div class="x_content">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><small>Search Criteria</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>

                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    @using (Html.BeginForm("Search", "Course", FormMethod.Post, new { @class = "form-horizontal", id = "form-searchCourse" })) {

                        <div class="form-horizontal">
                            <div class="item form-group">
                                @Html.LabelFor(model => model.OrganizationId, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.DropDownListFor(model => model.OrganizationId, Model.Organizations, new { @class = "form-control col-md-7 col-xs-12" })
                                </div>
                            </div>

                            <div class="item form-group">
                                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control col-md-7 col-xs-12" })
                                </div>
                            </div>
                            <div class="item form-group">
                                @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(model => model.Code, new { @class = "form-control col-md-7 col-xs-12" })
                                </div>
                            </div>
                            <div class="item form-group">
                                @Html.LabelFor(model => model.TrainerId, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.DropDownListFor(model => model.TrainerId, Model.Trainers, new { @class = "form-control col-md-7 col-xs-12" })
                                </div>
                            </div>

                            <div class="item form-group">

                                <div class="form-group row">
                                    @Html.LabelFor(model => model.DurationFrom, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                    <div class="col-md-3 col-sm-3 col-xs-6">
                                        @Html.TextBoxFor(model => model.DurationFrom, new { @class = "form-control col-md-7 col-xs-12" })
                                    </div>

                                    @Html.LabelFor(model => model.DurationTo, new { @class = "control-label col-md-1 col-sm-1 col-xs-12" })
                                    <div class="col-md-3 col-sm-3 col-xs-6">
                                        @Html.TextBoxFor(model => model.DurationTo, new { @class = "form-control col-md-7 col-xs-12" })
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                <input type="submit" value="Search" class="btn btn-success" id="btn-searchCourse" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <br />

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><small>Search Result</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="table table-bordered table-hover table-responsive" id="tbl-courseSearchResult">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Duration</th>
                                <th>Fees</th>
                                <th>Participants</th>
                                <th>Trainers</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            @if (Model.Courses != null) {
                                foreach (var course in Model.Courses) {
                                    <tr>
                                        <td>@course.Name</td>
                                        <td>@course.Code</td>
                                        <td>@course.Duration</td>
                                        <td>Fees</td>
                                        <td>Participants</td>
                                        <td>
                                            @{
                                                int index = course.CourseTrainers.Count;
                                                int loopCounter = 1;
                                            }

                                            @foreach (var item in course.CourseTrainers) {
                                                if (loopCounter < index) {
                                                    @item.Trainer.Name<span>&#44;&nbsp;</span>
                                                }
                                                else {
                                                    @item.Trainer.Name
                                                }
                                                loopCounter++;
                                            }
                                        </td>
                                        <td>
                                            <input type="button" class="btn btn-warning" value="Edit" />
                                            <input type="button" class="btn btn-danger" value="Delete" />
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jq-3.3.1/dt-1.10.18/r-2.2.2/datatables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/CustomScripts/search-course.js"></script>
}