@model IEnumerable<OnlineExamManagementWebApp.ViewModels.ExamIndexViewModel>
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--DataTable Styles-->
<link href="~/Theme/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="~/Theme/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="~/Theme/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="~/Theme/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="~/Theme/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
<!--DataTable END-->

<div id="loading"></div>
<div class="x_panel">

    <div class="x_title">
        <h2>Currently Available Exams</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="#">Settings 1</a>
                    </li>
                    <li>
                        <a href="#">Settings 2</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <div class="x_content">
        <table id="dataTable-examList" class="table table-striped table-bordered dt-responsive nowrap" width="100%">
            <thead>
                <tr>
                    <th>
                        Serial
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Topic)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FullMarks)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Duration)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CourseName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrganizationName)
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                @{
                    if (Model != null) {
                        var count = 1;
                        foreach (var item in Model) {
                            <tr>
                                <td>
                                    <input type="hidden" id="OrgId" value="@item.Id" />
                                    @count
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Code)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Topic)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FullMarks)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Duration)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CourseName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrganizationName)
                                </td>

                                <td>
                                    <a href="#" class="btn btn-info js-editExamModal" data-exam-id="@item.Id">
                                        <i class="avoid-clicks fa fa-pencil" style="pointer-events: none"> Edit</i>
                                    </a>
                                    <a href="#" class="btn btn-danger js-deleteExam" data-exam-Id="@item.Id">
                                        <i class="avoid-clicks fa fa-trash-o"> Delete</i>
                                    </a>
                                </td>
                            </tr>
                            count = count + 1;
                        }
                    }
                }

            </tbody>
        </table>

        <div id="clearfix"></div>

        @*@{
                Html.RenderPartial("_ModalEditOrg");
            }*@
    </div>
</div>

@section scripts {

    <script src="~/Scripts/bootbox.all.min.js"></script>
    <!-- DataTable -->
    <script src="~/Theme/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Theme/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <!--DataTable end-->
    <!--Custom scripts goes here-->
    <script src="~/Scripts/CustomScripts/exam/examIndex.js"></script>
}
