@model OnlineExamManagementWebApp.ViewModels.QuestionAnswerViewModel

@{
    ViewBag.Title = "Question and Answer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Theme/vendors/iCheck/skins/flat/green.css" rel="stylesheet" />
<!--DataTable Styles-->
<link href="~/Theme/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="~/Theme/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="~/Theme/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="~/Theme/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="~/Theme/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
<!--DataTable END-->


<div class="page-title">
    <h2>Question and Answer Entry</h2>
</div>

<div class="clearfix"></div>

@*Basic Info Section*@
<div class="row" id="qa_entry_topRow">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Basic Information <small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li class="pull-right">
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <br />
                <form class="form-horizontal form-label-left">
                    @Html.HiddenFor(m => m.ExamId, new { @id = "js_examId" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.OrganizationName, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            @Html.TextBoxFor(m => m.OrganizationName, new { @class = "form-control col-md-7 col-xs-12", disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.CourseName, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            @Html.TextBoxFor(m => m.CourseName, new { @class = "form-control col-md-7 col-xs-12", disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ExamCode, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            @Html.TextBoxFor(m => m.ExamCode, new { @class = "form-control col-md-7 col-xs-12", disabled = "disabled" })
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button id="btn-toggle-qaSection" class="btn btn-primary" type="button">Add Question</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*Q&A Entry Section*@
<div class="row" id="qa_entry_middleRow">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Question & Answer Entry<small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="pull-right">
                        <a id="hide-section"><i class="fa fa-close"></i></a>
                    </li>
                </ul>

                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <br />
                <form id="form_qaEntry" class="form-horizontal">
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Order</label>
                        <div class="col-md-1 col-sm-6 col-xs-6">
                            <input type="text" id="question_Order" name="Order" class="form-control col-md-7 col-xs-12" value="" placeholder="Order" />
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Marks</label>
                        <div class="col-md-1 col-sm-6 col-xs-6">
                            <input type="text" id="question_Marks" name="Marks" class="form-control col-md-7 col-xs-12" value="" placeholder="Marks" />
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Question*</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea id="question_Description" name="QuestionDescription" class="form-control col-md-7 col-xs-12"
                                      placeholder="Enter your Question here (Maximum 200 characters)"></textarea>
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">OptionType</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div class="radio">
                                <input type="radio" class="flat" name="OptionType" value="Single Answer" required="" checked="" /> Single Answer
                            </div>
                            <div class="radio">
                                <input type="radio" class="flat" name="OptionType" value="Multiple Answer" /> Multiple Answer
                            </div>
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Add Option</label>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="option_Description" name="OptionDescription" class="form-control col-md-7 col-xs-12" value="" placeholder="Enter Option Description (Maximum 50 characters)" />
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <button type="button" id="js-btn-AddOption" class="btn btn-primary">
                                <i class="avoid-clicks fa fa-plus-circle"></i> Add
                            </button>
                        </div>
                    </div>

                    <div class="ln_solid"></div>

                    <table class="table table-bordered table-hover table-responsive" id="js-tbl-options" style="width: 100%">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>Option</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button id="js-btn-qaSubmit" class="btn btn-success" type="button">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@*END*@

@*DataTable section*@
<div class="row" id="qa_entry_bottomRow">
    <div class="col-md-12 col-sm-12 col-xs-12">

        <div class="x_panel">
            <div class="x_title">
                <h2>Questions<small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li class="pull-right">
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <div id="loading"></div>
                <br />
                <table class="table table-striped table-bordered nowrap" id="tbl-questions" style="width: 100%">
                    <thead>
                        <tr>
                            <th>Order</th>
                            <th>Marks</th>
                            <th>Question</th>
                            <th>Option Type</th>
                            <th>Options</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@*END*@

@*Question Option Edit Button Modal popup*@
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="js-modal-editQo" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h3 class="modal-title">Question and Related Options</h3>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_content">
                                <form class="form-horizontal" id="js-modal-editQo-form">
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Order</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="hidden" name="QuestionId" id="js-editModal-hidden-qId" value="" />
                                            <input id="js-modal-editQo-order" name="Order" class="form-control col-md-7 col-xs-12" type="text" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Marks</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="Marks" id="js-modal-editQo-marks" class="form-control col-md-7 col-xs-12" placeholder="Marks" required="required">
                                            <span class="field-validation-valid text-danger" data-valmsg-for="Marks" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Question</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <textarea id="js-modal-editQo-qText" name="QuestionDescription" class="form-control col-md-7 col-xs-12" placeholder="Enter your Question here (Maximum 200 characters)" required="required"></textarea>
                                            <span class="field-validation-valid text-danger" data-valmsg-for="Description" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>

                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Option Type</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <div class="radio">
                                                <input type="radio" class="flat" name="OptionTypeEditModal" id="js-modal-editQo-oType-single" value="Single Answer" required="" /> Single Answer
                                            </div>
                                            <div class="radio">
                                                <input type="radio" class="flat" name="OptionTypeEditModal" id="js-modal-editQo-oType-multiple" value="Multiple Answer" /> Multiple Answer
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="item form-group js-div-addOption-editQoModal">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Add New Option</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" id="js-modal-editQo-oText" name="OptionDescription" class="form-control col-md-7 col-xs-12" value="" placeholder="Enter Option Description (Maximum 50 characters)" />
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <button type="button" id="js-btn-editOptionModal-AddOption" class="btn btn-primary">
                                                <i class="avoid-clicks fa fa-plus-circle"></i> Add
                                            </button>
                                        </div>
                                    </div>

                                    <div class="ln_solid"></div>

                                    <div class="item form-group js-div-options-editModal">
                                        <table class="table table-bordered table-hover table-responsive" id="js-tbl-editOptions-modal" style="width: 100%">
                                            <thead>
                                                <tr>
                                                    <th>SL</th>
                                                    <th>Option</th>
                                                    <th>Correct Answer?</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody id="js-tbl-editOptionModal-tbody">
                                                @*table body is dynamically created*@
                                            </tbody>
                                        </table>

                                        @*<label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            Options
                                        </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="Options" class="flat" />
                                                        <span>First Option</span>
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="Options" class="flat" />
                                                        <span>Second Option</span>
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="Options" class="flat" />
                                                        <span>Third Option</span>
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="Options" class="flat" />
                                                        <span>Fourth Option</span>
                                                    </label>
                                                </div>
                                            </div>*@
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="js-modal-editQo-Submit">Save changes</button>
            </div>
        </div>
    </div>
</div>
@*END*@

@*Question Option View Button Modal popup*@
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="js-modal-viewQo">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h3 class="modal-title">Question and Related Options</h3>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_content">
                                <form class="form-horizontal" novalidate>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            Order
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="js-modal-viewQo-order" class="form-control col-md-7 col-xs-12" type="text" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            Marks
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" id="js-modal-viewQo-marks" class="form-control col-md-7 col-xs-12" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            Option Type
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" id="js-modal-viewQo-optionType" class="form-control col-md-7 col-xs-12" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            Question
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <textarea id="js-modal-viewQo-qText" class="form-control col-md-7 col-xs-12" readonly="readonly"> </textarea>
                                        </div>
                                    </div>

                                    <div class="item form-group js-div-options-viewModal">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            Options
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" class="flat" disabled="disabled">
                                                    <span>First Option</span>
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" class="flat" disabled="disabled">
                                                    <span>Second Option</span>
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" class="flat" disabled="disabled">
                                                    <span>Third Option</span>
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" class="flat" disabled="disabled">
                                                    <span>Fourth Option</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@*END*@

@section scripts {
    <script src="~/Theme/vendors/iCheck/icheck.min.js"></script>

    <!-- jQuery Validation -->
    <script type="text/javascript" src="~/Scripts/jquery.validate.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.12.1.js"></script>

    <!-- DataTable Scripts -->
    <script src="~/Theme/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Theme/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Theme/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <!--DataTable end-->
    <!--bootbox end-->
    <script src="~/Scripts/bootbox.min.js"></script>
    <!--bootbox end-->
    <!--Custom Scripts-->
    <script src="~/Scripts/CustomScripts/qa/questionAnswerEntry.js"></script>
    <script src="~/Scripts/CustomScripts/qa/questionAnswerViewModal.js"></script>
    <script src="~/Scripts/CustomScripts/qa/questionAnswerEditModal.js"></script>
    <!--Custom Scripts End-->
}
